h1{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $blueColor;
    line-height: 120%;
    letter-spacing: -0.2px;
}

p{
    color: $parColor;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    line-height: 145%; 
    letter-spacing: -0.2px; 
}




